.calendario-container {
    text-align: center;
    padding: 20px;
  }
  
  .btn-volver {
    background-color: #ff5c5c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .btn-volver:hover {
    background-color: #e04747;
  }
  