.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Ajuste del contenido según el sidebar */
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px; /* navbar fijo */
  padding: 20px;
  overflow-y: auto;
  background-color: #bac7f9;
  min-height: calc(100vh - 100px);
  min-width: 60vw;
  max-width: 1400px;
}

/* Sidebar abierto */
.main-container.sidebar-open {
  margin-left: 250px; /* igual al ancho de .sidebar */
}

/* Sidebar cerrado */
.main-container.sidebar-closed {
  margin-left: 60px; /* igual al ancho de .sidebar.closed */
}

.content {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: center;
}
